PORT=5000
MONGODB_URI=mongodb://localhost:27017/busola
JWT_SECRET=votre_secret_jwt_tres_long_et_aleatoire
ADMIN_MASTER_PASSWORD=cle_securite_busola_pour_inscription_admin
NODE_ENV=development

# Email Configuration (Nodemailer)
EMAIL_USER=7bhilal.chitou7@gmail.com
EMAIL_PASS=votre_mot_de_passe_d_application_gmail
EMAIL_FROM="ONG Busola" <7bhilal.chitou7@gmail.com>
CLIENT_URL=http://localhost:5173
